:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Public Sans";
  font-size: 18px;
  overflow-x: hidden;
}

.nav-bar {
  background-color: var(--white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 15px;
  position: absolute;
  width:100%;
  z-index: 1;
  top: 0;
  overflow: hidden;
}

.list1 {
  list-style-type: none;
  z-index: 15;
}

.list-items {
  display: inline;
  padding: 7px;
}
.js-list {
  display: none;
}

@media only screen and (max-width: 500px) {

.js-list {
    width: 100%;
    height: auto;
    display: none;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    z-index: 15;
    position: absolute;
    top: 25%;
    right: 5%;
    left: 5%;
    padding: 20px;
  }

  .js-list li {
    padding: 10px;
    text-align: center;
  }

  .js-list li a {
    color: black;
  }

.burger-nav {
background: url(images/icon-hamburger.svg) no-repeat 95% center; 
width: 100%;
height: 40px;
float: right;
display: block;
cursor: pointer;
}

.burger-nav.active {
  background: url(images/icon-close.svg) no-repeat -105% center; 
}


.close-nav {
  width: 100%;
  height: 40px;
  display: block;
  background: url(images/icon-close.svg) no-repeat -102% center;
  transition: all 0.5s ease;
  cursor: pointer;
}
.close-nav.active {
  background: url(images/icon-close.svg) no-repeat 95% center; 
}

.list1 {
  width: 100%;
  height: 100px;
  display: none;
  float: none;
  background-color: pink;
  border-radius: 3px;
  text-align: center;
   z-index: 15;
   position: absolute;
   top: 80%;
   right: 10px;
}

.list1 li {
  text-align: center;
}
.list1 li a {
  color: black;
}

.green-buttons {
  display: none;
}
}


.list-items a {
  text-decoration: none;
  color: black;
}

/*@media only screen and (max-width: 768px) {
.list-items a {
padding: 2px;
font-size: 5px;
}
}*/

.list-items a:hover {
  border-bottom: 5px solid hsl(136, 65%, 51%);
  padding: 5px;
}
.green-buttons {
  padding: 10px;
  color: white;
  background: linear-gradient(120deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border-radius: 20px;
  width: 3.8cm;
  border: none;
  cursor: pointer;
}

.green-buttons:hover {
  background: linear-gradient(120deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  opacity: 0.8;
}



.grid-main {
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "home"
    "about"
    "blog"
    "contact";
}
#home {
  background-color: var(--very-light-gray);
  grid-area: home;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 550px;
}

@media only screen and (max-width: 768px) {
  #home {
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.biggest-font1 {
  padding-right: 30px;
  font-size: 25px;
}
.heading1 {
   padding-left: 100px;
  padding-right: 50px;
  padding-top: 150px;
  padding-bottom: 60px;
  width: 40%;
}
@media only screen and (max-width: 768px) {
.heading1 {
position: absolute;
top: 419px;
padding: 0;
}

.green-buttons {
  position: absolute;
  top: 519px;
}
}

.home-image {
  width: 60%;
}

.background-image img {
  width: 900px;
  height: 800px;
  position: relative;
  top: 0px;
  margin-top: -131px;
  margin-left: 0px;
  margin-right: -50px;
  overflow: hidden;
}


@media only screen and (max-width: 768px) {
  .background-image img {
    position: absolute;
top:;
    width: 145%;
    height: 500px;
margin-left: -135px;
   margin-top: -143px;
   /* margin-left: -150px;*/
    overflow: hidden;
  }
}

.overlay-img {
width: 60%;
overflow-x: hidden;
}

.overlay-image img {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: -53px;
  margin-right: -120px;
  opacity: ;
  width: 600px;
  height: 800px;
}
  
@media only screen and (max-width: 768px) {
  .overlay-image img {
    width: 335px;
    height: 400px;
    margin-top: 25px;
    margin-right: 0px;
  }
}

#about {
  background-color: var(--light-grayish-blue);
}
@media only screen and (max-width: 768px) {
  #about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
text-align: center;
  }
}
    
.heading {
  padding-left: 100px;
  padding-right: 150px;
  padding-top: 70px;
  padding-bottom: 60px;
  word-wrap: break-word;
}

@media only screen and (max-width: 768px) {
  .heading {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-direction: column;
padding-left: 10px;
  padding-right: 10px;
  padding-top: 60px;
  padding-bottom: 40px;
  
}
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px 45px 100px;
}


@media only screen and (max-width: 768px) {
  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 15px 35px 15px;
}
}

.flex-item2 {
  padding: 10px;  
}

}
  @media only screen and (max-width: 768px) {
  .flex-item2 {
    padding: 20px;
}
}

.biggest-font {
  font-size: 25px;
  padding-top: 0px;
}

.smallest-font {
  font-size: 12px;
  opacity: 0.5;
}

.body-opacity {
  font-size: 12px;
  opacity: 0.5;
}

.bigger-font {
  font-size: 20px;
}
.medium-font {
  font-size: 14px;
  padding: ;
}

#blog {
  background-color: var(--white);
}

#blog img {
  height: 10.625rem;
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

figcaption {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  padding: 15px;
}

figcaption a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}
figcaption a:hover {
  color: var(--lime-green);
}

footer {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: var(--white);
  padding: 22px 88px;
}

@media only screen and (max-width: 768px) {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
  }
}

#icons {
  display: flex;
  flex-direction: row;
}

.svg-icon {
  padding: 5px;
}
.svg-icon path:hover {
  fill: var(--lime-green);
}

#list2 {
  font-size: 16px;
  column-count: 2;
    list-style-type: none;
  }
  

  
  @media only screen and (max-width: 768px) {
  #list2 {
    column-count: 1;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
    }
  }

.list-item2 {
  display: block;
  padding: 7px;
  color: white;
}

.list-item2 a {
  color: white;
  text-decoration: none;
}

.list-item2 a:hover {
  color: var(--lime-green);
}

.flex-container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}


.flexbutton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
 

@media only screen and (max-width: 768px) {
  .flexbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}


.flex-item3 {
  padding: 22px;
}

@media only screen and (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {  
.heading1 {
  padding-left: 60px;
  padding-right: 50px;
  padding-top: 150px;
  padding-bottom: 60px;
  width: 40%;
}
  
  .heading {
  padding-left: 60px;
  padding-right:;
  padding-top: 70px;
  padding-bottom: 60px;
  }
  
  .flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px auto 45px 60px;
}

  .background-image img {
   width: 900px;
  height: 800px;
  position: relative;
  top: 0px;
  margin-top: -131px;
  margin-left: 0px;
  margin-right: -50px;
  overflow: hidden;
}
  
  #home {
    height: 480px;
  }
  .overlay-image img {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: -60px;
  margin-right:-90px;
margin-left: 400px;
  width: 400px;
  height: 600px;
overflow: hidden;
}

}
